
<!DOCTYPE html>
<html ng-app="myApp">
  <head>
    <meta charset="utf8" name="viewport" content="width=device-width, initial-scale=1.0">
    <base href="/">
    <title>Challenge U</title>
    <link rel="stylesheet" href="css/app.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">
    <script type="text/javascript" src="js/lib/angular.min.js"></script>
    <script type="text/javascript" src="js/lib/angular-cookies.min.js"></script>
    <script type="text/javascript" src="js/lib/angular-route.min.js"></script>
    <script type="text/javascript" src="js/ui-bootstrap-tpls-0.6.0.min.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
    <script type="text/javascript" src="js/controllers.js"></script>
  </head>
  <body class="black" ng-controller="AppCtrl">
      <div class="navbar-inverse navbar-static-top">
        <div class="navbar-inner">
          <h3 class="text-center top">Challenge U </h3>
          <a href="signup"><button class="btn span 2 offset10 signIn" ng-click="newUser = false" ng-show="!isLoggedin">Sign in</button></a>
           <button class="btn span 2 offset10 signIn" ng-show="isLoggedin" ng-click="logOut()">Log out</button>
         <h6 ng-show="!isLoggedin" class="signUp span1 offset10"> <a ng-click="newUser = true" href="signup">Sign up</a></h6>
        </div>
      </div>
        <div class="container-fluid">
          <div class="row-fluid">
            <div class="span2 sidebar-nav-fixed">
              <ul class="menu">
                <li class="text-center"><a href="home"><i class="fa fa-magnet fa-3x fa-fw iconstyle iconstylehover"></i></a></li>
                <li class="text-center"><a ng-click="viewProf()"> <i class="fa fa-user fa-3x fa-fw iconstyle iconstylehover"></i></a></li>
                <li class="text-center"><a href="theList"> <i class="fa fa-list fa-3x fa-fw iconstyle iconstylehover"></i></a></li>
              </ul>
            </div>

            <div ng-view class="span10 offset2 overflow"></div>

            <div class="offset2 text-center">
              <h5>Copyright Challenge U - 2013</h5>
            </div>
          </div>
        </div>

 
  </body>
</html>