/* app css stylesheet */



.nav {
  display: inline;
}
.menu li {
  padding: 20px;
  list-style: none;
}

 @media(max-width: 767px) {
  .menu li {
    display:inline-block;
    margin:auto;
    
  }

  .menu {
    text-align: center;
  }

}
.name{
  margin-left:20px;
}
.comment{
  border:2px solid;
  border-radius:5px;
  margin:20px;
  margin-left:30px;
}
.black {
  background-color: #1F1B1B;
}

.title {
  color: white;
}

.userlist {
  list-style: none;
  font-weight: bold;
}
.iconstyle {
  color:white;
}
.profiletext {
  margin-top: -80px;
  padding-bottom: 50px;
}
  

.iconstyle:hover {
  text-decoration: none;
  color:#999999;

}
.sidebar-nav-fixed {
    position:fixed;
    top:100;
    left:0;
}
.top {
  color:white;
  font-family:andale mono, monospace;
}

.signIn {
  margin-top: -40px;
  position: relative;
}
.signUp {
  margin-top: -10px;
  position: relative;

}

@media (max-width: 767px) {
  .sidebar-nav-fixed {
    position:relative;
  }
}

.content {
  padding: 60px;
}

.nav, .pagination, .carousel a { cursor: pointer; }